@use "../../../../main-style/style.scss";
*{margin: 0; padding: 0; text-transform: capitalize; list-style: none; box-sizing: border-box;}
.two-team-container {
    display: flex; color: style.$color;align-items: center; justify-content: space-between;
    margin: 15px;background-color: rgba(14, 14, 14, 0.637);
    padding: 5px;border-radius: 10px; padding: 10px;
    .left-side-section {
        display: flex;align-items: center;
    }
    img {
        width: 35px; height: 30px;
    }
    .two-team {
        margin-left: 15px;
        li {
            display: flex; align-items: center;
            padding: 3px;
        }
    }

    &:hover{
        background-color: rgba(192, 192, 192, 0.315); transition: all .5s;
        cursor: pointer;
    }
}
