@use "../../../../main-style/style.scss";

.country-header {
    color:style.$color; display: flex; align-items: center; justify-content: space-between;
    margin: 5px 20px; text-transform: capitalize;
    .icon-section {
        display: flex; align-items: center;
        p {margin: 0; padding: 0; margin-bottom: 3px};
        .name-country{
            margin-left: 15px;
        }
    }
    img {
        width: 35px; height: 20px; border-radius: 4px;
    }
}